Session 1

Functions

In [1]:
# Function performs a particular task

In [2]:
# Identification -----> function()

In [4]:
print('hello world')

hello world

Variables

In [5]:
a = 12

In [6]:
b = 45

In [7]:
c = a + b

In [8]:
c

57

In [9]:
# Variable will always hold some value

In [10]:
# Variables are case sensitive

In [11]:
# Only uderscore is allowed as a special character to denote a variable

In [12]:
# Number cannot be used in the beginnning to denote a variable

Data Types In Python

In [13]:
# Integer ----> int ----> 2,3,4,5,6
# Float ----> float ----> 1.2,3.4,5.6,7.8
# boolean ----> bool ----> True, False
# string ----> str ----> "abc!@#123" , "abc!@#123"

In [15]:
print(type(1))

<class 'int'>

In [16]:
print(type(1.2))

<class 'float'>

In [18]:
print(type('abc'))

<class 'str'>

In [19]:
print(type(True))

<class 'bool'>

Sequential Data Type

In [20]:
# tuple ----> ()
# list ----> []
# set ----> {}
# dict ----> {}

In [21]:
mylist = [23,76,"hello",98.6,[45,56,12],True]

In [22]:
print(mylist)

[23, 76, 'hello', 98.6, [45, 56, 12], True]

In [23]:
print(type(mylist))

<class 'list'>

In [63]:
len(mylist) # States the total element in the list

6

In [26]:
mylist[0]

23

In [32]:
mylist[-1]

True

In [ ]:
# Multiple Dimensional Indexing

In [28]:
mylist[4][1]

56

In [29]:
# Slicing
# Rule = start : stop + 1

In [30]:
print(mylist[0:3])

[23, 76, 'hello']

In [ ]:
# Multiple Dimensional Slicing

In [31]:
print(mylist[0:3],mylist[-2][0:2])

[23, 76, 'hello'] [45, 56]

In [33]:
d = [3,3,3,6,6,6,7,7,7,8,8,8]

In [39]:
e = set{d}

In [44]:
f = list(e)

In [46]:
f

[888, 777, 666, 333]

In [48]:
# Dictionary are in the form of key and value

mydict = {
    'name' : ['faiz','shubh'],
    'age' : [25,25],
    'place' : ['mumbai','mumbai']
}

In [49]:
mydict

{'name': ['faiz', 'shubh'], 'age': [25, 25], 'place': ['mumbai', 'mumbai']}

In [ ]:
# Multi Dimensional

In [62]:
mydict['name'][1],mydict['age'][1],mydict['place'][1]

('shubh', 25, 'mumbai')

Append And Insert

In [69]:
n = [23,76,'hello',98.6,'world',56,12,67,99,True]

In [70]:
n.append("55")

In [71]:
n

[23, 76, 'hello', 98.6, 'world', 56, 12, 67, 99, True, '55']

In [72]:
n.insert(0,'hello') #(first place is  for position and second is for value)

In [73]:
n

['hello', 23, 76, 'hello', 98.6, 'world', 56, 12, 67, 99, True, '55']

In [74]:
# Statements in python

In [75]:
# if,elif,else

In [76]:
var = 12

In [77]:
if var > 13:
    print('hello')
elif var == 12:
    print('zzzz')
else:
    print('bye')

zzzz

In [78]:
# Input Function

In [79]:
a = int(input('Enter 1st Numbar, '))
b = int(input('Enter 2nd Number'))

Enter 1st Numbar, 55
Enter 2nd Number45

In [80]:
c = a + b

In [81]:
c

100

In [83]:
print(type(c))

<class 'int'>

In [7]:
marks = int(input('enter your marks: '))
if marks >= 0 and marks <35:
    print("Fail"),
elif marks >35 and marks <= 50:
    print("Grade C"),
elif marks > 50 and marks <= 75:
    print('Grade B')
elif  marks > 70 and  marks <= 100:
    print('Grade A')
else:
    print("Wrong Input")

enter your marks: -1
Wrong Input

In [ ]:
# loops
for
while

In [ ]:
# For Loop

In [1]:
for i in range(0,6):
    print('hello')

hello
hello
hello
hello
hello
hello

In [2]:
for i in range(1,11):
    print('2','*',i,'=',i*2)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [ ]:
# Problem Statement (segregate into different data type and list)

In [7]:
my_list = [23,'hello','hi',45.9,'bye',12,76,'zero',0,99,[23,'one',12.7],77,11,(6,2,0),11.0]

In [15]:
list_of_tuple = []
list_of_integers = []
list_of_float = []
list_of_strings = []
list_of_list = []
for i in my_list:
    if type(i) == int:
        list_of_integers.append(i)
    elif type(i) == str:
        list_of_strings.append(i)
    elif type(i) == float:
        list_of_float.append(i)
    elif type(i) == tuple:
        list_of_tuple.append(i)
    elif type(i) == list:
        list_of_list.append(i)
print(list_of_tuple)
print(list_of_integers)
print(list_of_float) 
print(list_of_strings) 
print(list_of_list)

[(6, 2, 0)]
[23, 12, 76, 0, 99, 77, 11]
[45.9, 11.0]
['hello', 'hi', 'bye', 'zero']
[[23, 'one', 12.7]]

Defining a Function

In [1]:
def myfunction(number1,number2):
    a = number1 + number2
    return a

In [2]:
myfunction(5,6)

11

In [41]:
  def gettable1(number):
        out = []
        for i in range(1,11):
            b = number,'*',i,'=',i*number
            out.append(b)
        return out

In [42]:
gettable1(4)

[(4, '*', 1, '=', 4),
 (4, '*', 2, '=', 8),
 (4, '*', 3, '=', 12),
 (4, '*', 4, '=', 16),
 (4, '*', 5, '=', 20),
 (4, '*', 6, '=', 24),
 (4, '*', 7, '=', 28),
 (4, '*', 8, '=', 32),
 (4, '*', 9, '=', 36),
 (4, '*', 10, '=', 40)]

Try and Except functions (to get customized error output)

In [32]:
def gettable(number):
    try:
        out = ()
        for i in range(1,11):
            b = number,'*',i,'=',i*number
            out.append(b)
        return out
    except:
        print("error in gettable function")

In [37]:
gettable("77")

error in gettable function

Python for Data Science

In [ ]:
# Data Preprocessing - ML ##

# Pandas
# numpy
# Matplotib
# seaborn

# Machine learning ####

# sklearn
# statsmodel

# deep learning ##

# opencv
# tensorflow
# NLTK

In [43]:
! pip install pandas

Requirement already satisfied: pandas in c:\users\whamd\anaconda3\lib\site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\whamd\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\whamd\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\whamd\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\whamd\anaconda3\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\users\whamd\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [46]:
! pip install numpy

Requirement already satisfied: numpy in c:\users\whamd\anaconda3\lib\site-packages (1.24.3)

In [47]:
! pip install matplotlib

Requirement already satisfied: matplotlib in c:\users\whamd\anaconda3\lib\site-packages (3.7.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\whamd\anaconda3\lib\site-packages (from matplotlib) (1.0.5)
Requirement already satisfied: cycler>=0.10 in c:\users\whamd\anaconda3\lib\site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\whamd\anaconda3\lib\site-packages (from matplotlib) (4.25.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\whamd\anaconda3\lib\site-packages (from matplotlib) (1.4.4)
Requirement already satisfied: numpy>=1.20 in c:\users\whamd\anaconda3\lib\site-packages (from matplotlib) (1.24.3)
Requirement already satisfied: packaging>=20.0 in c:\users\whamd\anaconda3\lib\site-packages (from matplotlib) (23.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\whamd\anaconda3\lib\site-packages (from matplotlib) (10.2.0)
Requirement already satisfied: pyparsing<3.1,>=2.3.1 in c:\users\whamd\anaconda3\lib\site-packages (from matplotlib) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\whamd\anaconda3\lib\site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\whamd\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)

In [48]:
! pip install seaborn

Requirement already satisfied: seaborn in c:\users\whamd\anaconda3\lib\site-packages (0.12.2)
Requirement already satisfied: numpy!=1.24.0,>=1.17 in c:\users\whamd\anaconda3\lib\site-packages (from seaborn) (1.24.3)
Requirement already satisfied: pandas>=0.25 in c:\users\whamd\anaconda3\lib\site-packages (from seaborn) (2.0.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.1 in c:\users\whamd\anaconda3\lib\site-packages (from seaborn) (3.7.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\whamd\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.0.5)
Requirement already satisfied: cycler>=0.10 in c:\users\whamd\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\whamd\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (4.25.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\whamd\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\whamd\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (23.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\whamd\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (10.2.0)
Requirement already satisfied: pyparsing<3.1,>=2.3.1 in c:\users\whamd\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\whamd\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\whamd\anaconda3\lib\site-packages (from pandas>=0.25->seaborn) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\whamd\anaconda3\lib\site-packages (from pandas>=0.25->seaborn) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\whamd\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.1->seaborn) (1.16.0)